<div class="col-8 m-auto">
  <form action="/answer" method="get" data-turbo="false">
  <h2 class="card-title">Stupid coaching</h2>
  <h6 class="card-title">Ask your coach anything:</h6>
    <input type="text" name="question" class="form-label" class="text-primary".text-primary >
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
